* {
  font-family: "Fira Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

body {
  background-color: #171738;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}

.game-container h1 {
  color: #dff3e4;
}

.game-container {
  color: #dff3e4;
}

button {
  background-color: #7180b9;
  color: white;
  height: 50px;
  width: 80px;
  border: 2px solid #dff3e4;
  border-radius: 20px;
  text-transform: uppercase;
  margin: 10px;
}

.player-container {
  flex-shrink: 1;
  margin: 10px;
  border: 2px solid #dff3e4;
  width: 500px;
  border-radius: 30px;
  background-color: #2e1760;
}

.player-container h2 {
  color: #dff3e4;
}

.player-container h3 {
  color: #dff3e4;
}

.players {
  display: flex;
  flex-direction: row;
  margin: 10px;
  min-width: auto;
}

.player-heading {
  margin: 10px;
  text-align: center;
}

.button-selection-human {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-selection-computer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.computer-score {
  text-align: center;
  margin: 10px;
}

.human-score {
  text-align: center;
  margin: 10px;
}

.score {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button-selection-human button:hover {
  background: #4e5e9e;
  border: none;
}

@media (max-width: 1036px) {
  .players {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
}

@media (max-width: 514px) {
  .player-container {
    width: auto;
  }
}
